<!--actioncableを使わない場合のビューファイル-->

<div class = "row mb-3" id = "messages">
  <% if message.user == current_user %>
    <!--自分のメッセージは右寄せ,左から空欄５，メッセージ５、画像２。text-breakで折り返させる-->
    <div class = "col-5 offset-5 text-end">
      <p class="border rounded-9 d-inline-block p-3 text-break bg-info text-white"><%= message.content %></p></br>
      <small><%= message.created_at.strftime('%m/%d %H:%M') %></small>
    </div>
    <div class = "col-2 text-start"><%= image_tag message.user.get_image(70,70), class: "rounded-circle img-thumbnail img-fluid"%></div>
  <% else %>
    <!--相手のメッセージは左寄せ,左から画像２、メッセージ５-->
    <div class = "col-2 text-end"><%= image_tag message.user.get_image(70,70), class: "rounded-circle img-thumbnail img-fluid"%></div>
    <div class = "col-5 px-auto">
      <p class="border rounded-9 d-inline-block p-3 text-break"><%= message.content %></p></br>
      <small><%= message.created_at.strftime('%m/%d %H:%M') %></small>
    </div>
  <% end %>
</div>