<div class="tab-pane fade show active" id="show_chatrooms_index">
  <% show_chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom) ,data: {"turbolinks" => false} do %> <!--turbolinksを切らないとactioncableが発火しないため-->

      <div class="container card index_card mb-4 py-3 text-body">
        <div class="row justify-content-center">

          <!--画像カラム-->
          <div class="col-3 col-md-2 m-0 d-flex justify-content-end align-items-center">
            <div>
              <% if chatroom.user == current_user %>
                <%= image_tag chatroom.job.user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'%>
              <% else %>
                <%= image_tag chatroom.user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'%>
              <% end %>
            </div>
           </div>
           <!--画像カラム-->

          <!--タイトルと本文７カラム-->
          <div class="col-7 col-md-8 d-flex flex-column justify-content-center">
            <h4><strong><% if chatroom.user == current_user %>
                  <%= chatroom.job.user.name %>
                <% else %>
                  <%= chatroom.user.name %>
                <% end %></strong></h4>
            <strong>(<%= chatroom.job.tytle %>)</strong>
            <!--そのチャットルームの最新のメッセージを表示する。５０文字まで-->
            <p class="text-break border rounded-8 bg-light p-3 bg-light"><% if Message.where(chatroom_id: chatroom.id).exists? %>
               <%= Message.where(chatroom_id: chatroom.id).last.content.truncate(50) %>
               <% end %></p>
          </div>

          <!--未読バッジ３カラム 未読ある時のみ表示-->
          <div class="col-2 d-flex align-items-center justify-content-evenly">
            <% if chatroom.unread_messages(current_user).exists? %>
              <h3><span class="badge badge-danger rounded-pill">
                <%= chatroom.unread_messages(current_user).count %>
              </span></h3>
            <% end %>
          </div>

        </div>
      </div>

    <% end%>
  <% end %>
</div>