<div class="container">
  <div class="row">

    <%= render "layouts/sidebar", current: false%><!--サイドバー-->

      <div class="col-8 offset-1">

        <h3 class="mt-5 mb-3"><strong>DM一覧</strong></h3>

        <% @chatrooms.each do |chatroom| %>
          <%= link_to chatroom_path(chatroom) do %>

          <div class="card index_card mb-4 py-3 text-body bg-light">
            <div class="row">

              <!--画像2カラム-->
              <div class="col-2 m-auto d-flex justify-content-end">
                <% if chatroom.user == current_user %>
                  <%= image_tag chatroom.job.user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'%>
                <% else %>
                  <%= image_tag chatroom.user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'%>
                <% end %>
              </div>

              <!--タイトルと本文８カラム-->
              <div class="col-8">
                <h4><% if chatroom.user == current_user %>
                      <%= chatroom.job.user.name %>
                    <% else %>
                      <%= chatroom.user.name %>
                    <% end %>
                   （<%= chatroom.job.tytle %>）
                </h4>
                <!--そのチャットルームの最新のメッセージを表示する。５０文字まで-->
                <p><% if Message.where(chatroom_id: chatroom.id).exists? %>
                   <%= Message.where(chatroom_id: chatroom.id).last.content.truncate(50) %>
                   <% end %></p>
              </div>

              <!--未読バッジ２カラム 未読ある時のみ表示-->
              <div class="col-2 d-flex align-items-center">
                <% if chatroom.unread_messages(current_user).exists? %>
                  <h3><span class="badge badge-danger rounded-pill">
                    <%= chatroom.unread_messages(current_user).count %>
                  </span></h3>
                <% end %>
              </div>

            </div>

          </div>

          <% end%>
        <% end %>

      </div>

  </div>
</div>

