<%= render "/chatrooms/change_hide_modal", partner: @partner, chatroom: @chatroom %>
<div class="d-flex justify-content-between mt-lg-5 mt-3">

  <h3><strong><%= @partner.name %>とのメッセージ </strong></h3>
<!--非表示ボタン-->
  <h3>
    <% if @chatroom.hidden == false%>
      <button class= "btn btn-light rounded-9" data-toggle="modal" data-target="#HideModal">
        <strong>非表示する</strong>
      </button>
    <% else %>
      <button class= "btn btn-light rounded-9" data-toggle="modal" data-target="#ShowModal">
        <strong>再表示する</strong>
      </button>
    <% end %>
  </h3>
<!--非表示ボタン-->
</div>


<!--チャットボックス-->
<div class="shadow-inner bg-light overflow-auto rounded-top p-3" id="area">
  <div id="messages" class="container" data-chatroom_id=<%= @chatroom.id %> >

    <% @messages.each do |message| %>
      <%= render "/chatrooms/message", message: message %>
    <% end %>
  </div>
</div>

<!--入力フォーム-->
<div class="input-group">
  <%= text_field_tag :content, nil, data: { behavior: 'chatroom_speaker' } , class: "form-control"%>
  <button id="message_button" class="btn btn-primary">
    <i class="fa fa-paper-plane fa-lg"></i>
  </button>
</div>


<%= render "chatrooms/chatscroll" %> <!--チャットを自動スクロールして最下部を表示するスクリプト-->


