<div class="container">
  <div class="row">

    <%= render "layouts/sidebar", current: false%><!--サイドバー-->

    <div class="col-lg-8 offset-lg-1 col-md-12">

      <!--タイトル-->
      <h3 class="mt-5 mb-3"><strong>
        <% if @chatroom.user == current_user %>
          <%= @chatroom.job.user.name %>
        <% else %>
          <%= @chatroom.user.name %>
        <% end %>とのメッセージ
      </strong></h3>

      <!--チャットボックス-->
      <div class="shadow-inner bg-light overflow-auto rounded-top p-3" id="area">
        <div id="messages" data-chatroom_id=<%= @chatroom.id %> >
          <% @messages.each do |message| %>
            <%= render "/chatrooms/message", message: message %>
          <% end %>
        </div>
        
      </div>

      <!--入力フォーム-->
     
        <%= text_field_tag :content, nil, data: { behavior: 'chatroom_speaker' } %>
        <%= hidden_field :user_id, :value => current_user.id ,id: "current_user_id"%>
        <%= hidden_field :chatroom_id, :value => @chatroom.id, id: "chatroom_id"%>
        


    </div>

  </div>
</div>
<%= render "chatrooms/chatscroll" %> <!--チャットを自動スクロールして最下部を表示するスクリプト-->