<div class='job-index jscroll'>
    <% jobs.each do |job|%>

    　<!--公開中の一覧の場合は仕事詳細へ-->
      <% if job.released == true %>
        <%= link_to job_path(job), data: {"turbolinks" => false}  do%>
          <div class="card index_card text-body">
            <div class="row">
              <div class="d-none d-md-block col-md-5">
                <%= image_tag job.get_image(1000,1000), class: "rounded-start img-thumbnail index_card_image h-100 w-100" %>
              </div>
              <div class="col-12 col-md-7 my-4 mx-auto my-auto py-5">
                <div class="row justify-content-center">
                  <h3 class="text-center"><strong><%= job.tytle %></strong></h3>
                  <small class="text-center col-10"><%= job.near_station %>駅 / <%= job.job_type %> / 時給：<%= job.hourly_wage %>円</small>
                  <h6 class="mt-3 p-4 border rounded-8 bg-light col-9"><%= job.introduction.truncate(70) %></h6>
                </div>

                <div class="row">
                  <div class="col-2 offset-1">
                    <%= image_tag job.user.get_image(70,70), class: 'rounded-circle img-thumbnail'%>
                  </div>
                  <small class="col-9 d-flex align-items-center">
                    <%= job.user.name %></br>
                    <%= job.user.age %>歳　<%= job.user.sex %>　<%= job.user.prefecture %>
                  </small>
                </div>

              </div>
            </div>
          </div>
        <% end %>


      <!--下書き一覧の場合は編集画面に直リンク-->
      <% else %>
        <%= link_to edit_job_path(job), data: {"turbolinks" => false}  do%>
          <div class="card index_card text-body bg-light">
            <div class="row">
              <div class="d-none d-md-block col-md-5">
                <%= image_tag job.get_image(500,500), class: "img-fluid rounded-start img-thumbnail index_card_image h-100 w-100" %>
              </div>
              <div class="col-12 col-md-7 my-4 mx-auto my-auto py-5">
                <div class="row justify-content-center">
                  <h3 class="text-center"><strong><%= job.tytle %></strong></h3>
                  <small class="text-center"><%= job.near_station %>駅 / <%= job.job_type %> / 時給：<%= job.hourly_wage %>円</small>
                  <h6 class="text-center mt-3 p-4 border rounded-8 bg-light col-9"><%= job.introduction.truncate(70) %></h6>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    <% end %>
    <!--ページネーション。無限スクロールのため非表示-->
    <div class="d-none"><%= paginate jobs %></div>
</div>

<!--jscroll本体の読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

<!--jscrollで、画面の下部５％にスクロースしたら次を読み込む-->
<script>
$(window).on('scroll', function() {
  	scrollHeight = $(document).height();
  	scrollPosition = $(window).height() + $(window).scrollTop();
  	if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
            $('.jscroll').jscroll({
              contentSelector: '.job-index',
              nextSelector: 'span.next:last a'
            });
  	}
});
</script>

