<% jobs.each do |job|%>

  <%= link_to job_path(job) do%>
    <div class="card index_card my-5 text-body bg-light">
      <div class="row g-0"> <!--ここからカード横向きのための記述-->
        <div class="col-4">
          <%= image_tag job.get_image(10000,10000), class: "img-fluid rounded-start img-thumbnail index_card_image" %>
        </div>
        <div class="col-8 my-4 mx-auto my-auto py-5">
          <div class="row">
            <h3 class="text-center"><strong><%= job.tytle %></strong></h3>
            <small class="text-center"><%= job.near_station %>駅 / 時給：<%= job.hourly_wage %>円</small>
            <h6 class="text-center mt-3"><%= job.introduction %></h6>
          </div>
        
          <div class="row">
            <div class="col-2 offset-1">
              <%= image_tag job.user.get_image(70,70), class: 'rounded-circle img-thumbnail'%>
            </div>
            <small class="col-9 d-flex align-items-center">
              <%= job.user.name %></br>
              <%= job.user.age %>歳　<%= job.user.sex %>　<%= job.user.prefecture %>
            </small>
          </div>
          
        </div>
      </div>
    </div>
  <%end%>

<%end%>