<div class="card my-5 py-5">

  <div class="row">
    <div class="col-8 offset-2">
      <% if action_name == 'new' or action_name == 'create' %> <!--新規作成と編集時でビューの一部を分岐-->
        <h3 class="text-center"><strong>パートナーを募集しよう</strong></h3>
      <% else %>
        <h3 class="text-center"><strong>仕事情報を編集</strong></h3>
      <% end %>

      <div>
        <%= form_with model: @job do|f|%>
            <%= render 'layouts/error_messages', model: f.object %>

            <div class="row align-items-center">
              <% if action_name == 'new' or action_name == 'create' %><!--新規作成と編集時でビューの一部を分岐-->
                <%= image_tag 'noimage_job.png', class: 'avatar d-inline my-4 img-thumbnail',size: "300x300" %></br>
              <% else %>
                <%= image_tag @job.get_image(2500,1500), class: 'avatar  d-inline my-4 img-thumbnail'%></br>
              <% end %>
            </div>

            <div class="row align-items-center">
              <%= f.label :image,"紹介画像"%></br>
              <%= f.file_field :image, class: 'uploader d-inline form-control mb-4 w-75' %></br>
            </div>

            <div class="row align-items-center">
              <%= f.label :tytle ,"タイトル"%>
              <%= f.text_field :tytle, class: "form-control mb-4 w-100 mx-auto", placeholder: "募集タイトル"%>
            </div>

            <div class="row align-items-center">
              <%= f.label :job_type ,"職種"%>
              <%= f.select :job_type, Job.job_types.keys, { include_blank: '職種を選択'}, { class: 'form-control mb-4 w-50'}%>
            </div>

            <div class="row align-items-center">
              <%= f.label :introduction,"紹介文"%>
              <%= f.text_area :introduction, class: "introduction form-control w-100 mx-auto", placeholder: "仕事の詳細やアピールポイントなど", size: "10x5"%>
              <small class="text-count text-success mb-4"></small><br>
            </div>

            <div class="row align-items-center">
              <%= f.label :hourly_wage,"時給", class: "col-12"%>
              <%= f.text_field :hourly_wage, class: "form-control mb-4 w-50 d-inline", placeholder: "半角数字" %>円
            </div>

            <div class="row align-items-center">
              <%= f.label :postal_code, "郵便番号"%>
              <%= f.text_field :postal_code, class: "postal_code form-control mb-4 w-50", placeholder: "0000000" %>
            </div>

            <div class="row align-items-center">
              <%= f.label :prefecture_code, "所在地（都道府県）"%><br>
              <%= f.select :prefecture_code, Job.prefecture_codes.keys, { include_blank: '都道府県を選択'}, { class: 'prefecture_code form-control mb-4 w-50 d-inline' }%>
            </div>

            <div class="row align-items-center">
              <%= f.label :other_address, "市区町村以降の住所" %>
              <%= f.text_field :other_address, class: "other_address form-control mb-4 w-100 mx-auto", placeholder: "住所を入力" %>
            </div>


            <div class="d-flex justify-content-around">
              <% if action_name == 'new' or action_name == 'create' %><!--新規作成と編集時でビューの一部を分岐-->
                <%= f.submit "公開する", :name => 'post', class: "btn btn-info btn-rounded"%>
                <%= f.submit "下書きに保存", :name => 'draft', class: "btn btn-warning btn-rounded"%>
              <% else %>
                <%= f.submit "保存して公開", :name => 'post', class: "btn btn-info btn-rounded"%>
                <%= f.submit "下書き保存", :name => 'draft', class: "btn btn-warning btn-rounded"%>
                <%= link_to "削除する", job_path(@job),method: :delete ,class: "btn btn-danger btn-rounded" %>
              <% end %>
            </div>
        <%end%>
      </div>

      </div>
    </div>
</div>

<!--jpostal読み込み-->
<%= render "/jobs/jpostal" %>

<!--文字数カウント読み込み-->
<%= render "/jobs/textcounter" %>