
<div class="card my-5 py-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="text-center">仕事情報を編集</h3>
        <%= form_with model: @job do|f|%>
            <%= render 'layouts/error_messages', model: f.object %>

            <%= image_tag @job.get_image(5000,3000), class: 'avatar  d-inline mb-4 img-thumbnail'%></br>
            <%= f.label :image,"紹介画像"%></br>
            <%= f.file_field :image, class: 'uploader d-inline form-control mb-4 w-75' %></br>

            <%= f.label :tytle ,"タイトル"%>
            <%= f.text_field :tytle, class: "form-control mb-4 w-100 mx-auto", placeholder: "募集タイトル" %>

            <%= f.label :job_type ,"職種"%>
            <%= f.select :job_type, Job.job_types.keys, { include_blank: '職種を選択'}, { class: 'form-control mb-4 w-50'  } %>

            <%= f.label :introduction,"紹介文"%>
            <%= f.text_area :introduction, class: "introduction form-control w-100 mx-auto", placeholder: "仕事の詳細やアピールポイントなど", size: "10x5" %>
            <small class="text-count text-success mb-4"></small><br>

            <%= f.label :hourly_wage,"時給（円）"%>
            <%= f.text_field :hourly_wage, class: "form-control mb-4 w-50", placeholder: "半角数字"%>

            <%= f.label :postal_code, "郵便番号"%>
            <%= f.text_field :postal_code, class: "postal_code form-control mb-4 w-50", placeholder: "半角数字" %>

            <%= f.label :prefecture_code, "所在地（都道府県）"%><br>
            <%= f.select :prefecture_code, Job.prefecture_codes.keys, { include_blank: '都道府県を選択'}, { class: 'prefecture_code form-control mb-4 w-50 d-inline'  }%><br>

            <%= f.label :other_address, "市区町村以降の住所" %>
            <%= f.text_field :other_address, class: "other_address form-control mb-4 w-100 mx-auto", placeholder: "住所を入力" %>

            <div class="d-flex justify-content-around">
              <%= f.submit "保存して公開", :name => 'post', class: "btn btn-info btn-rounded"%>
              <%= f.submit "下書き保存", :name => 'draft', class: "btn btn-warning btn-rounded"%>
              <%= link_to "削除する", job_path(@job),method: :delete ,class: "btn btn-danger btn-rounded" %>
            </div>

        <%end%>
      </div>
    </div>
</div>
<!--jpostal読み込み-->
<%= render "/jobs/jpostal" %>

<script>
$(function (){
  // 処理（ページが読み込まれた時、フォームに残り何文字入力できるかを数えて表示する）

  //フォームに入力されている文字数を数える
  //\nは"改行"に変換して2文字にする。オプションフラグgで文字列の最後まで\nを探し変換する
  var count = $(".introduction").text().replace(/\n/g, "改行").length;
  //残りの入力できる文字数を計算
  var now_count = 3000 - count;
  //文字数がオーバーしていたら文字色を赤にする
  if (count > 3000) {
    $(".text-count").removeClass("text-success");
    $(".text-count").addClass("text-danger");
  }
  //残りの入力できる文字数を表示
  $(".text-count").text( "あと" + now_count + "文字");

  $(".introduction").on("keyup", function() {
    // 処理（キーボードを押した時、フォームに残り何文字入力できるかを数えて表示する）
    //フォームのvalueの文字数を数える
    var count = $(this).val().replace(/\n/g, "改行").length;
    var now_count = 3000 - count;

    if (count > 3000) {
      $(".text-count").removeClass("text-success");
      $(".text-count").addClass("text-danger");
    } ;
    $(".text-count").text( "あと" + now_count + "文字");
  });
});

</script>