<div class="container">
  <div class="row">
    <!--サイドバー-->
    <%= render "layouts/sidebar", current: false%>
    <!--サイドバー-->

    <div class="col-8 offset-1">
      <div class="card my-5 py-4">
        
        <div class="row">
          <div class="col-8 offset-2">
            <h3 class="mt-4 text-center"><strong>パートナーを募集しよう</strong></h3>
            
            <div>
              <%= form_with model: @job do|f|%>
                  <%= render 'layouts/error_messages', model: f.object %>
                  
                  <%= image_tag 'noimage_job.png', class: 'avatar d-inline my-4 img-thumbnail',size: "300x300" %></br>
                  <%= f.label :image,"紹介画像"%></br>
                  <%= f.file_field :image, class: 'uploader d-inline form-control mb-4 w-75' %></br>

                  <%= f.label :tytle ,"タイトル"%>
                  <%= f.text_field :tytle, class: "form-control mb-4 w-100 mx-auto", placeholder: "募集タイトル"%>

                  <%= f.label :job_type ,"職種"%>
                  <%= f.select :job_type, Job.job_types.keys, { include_blank: '職種を選択'}, { class: 'form-control mb-4 w-50'}%>

                  <%= f.label :introduction,"紹介文"%>
                  <%= f.text_area :introduction, class: "form-control mb-4 w-100 mx-auto", placeholder: "仕事の詳細やアピールポイントなど", size: "10x5"%>

                  <%= f.label :hourly_wage,"時給"%><br>
                  <%= f.text_field :hourly_wage, class: "form-control mb-4 w-50 d-inline", placeholder: "半角数字" %>円<br>

                  <%= f.label :postal_code, "郵便番号"%>
                  <%= f.text_field :postal_code, class: "postal_code form-control mb-4 w-50", placeholder: "0000000" %>

                  <%= f.label :prefecture_code, "所在地（都道府県）"%><br>
                  <%= f.select :prefecture_code, Job.prefecture_codes.keys, { include_blank: '都道府県を選択'}, { class: 'prefecture_code form-control mb-4 w-50 d-inline' }%><br>

                  <%= f.label :other_address, "市区町村以降の住所" %>
                  <%= f.text_field :other_address, class: "other_address form-control mb-4 w-100 mx-auto", placeholder: "住所を入力" %>

                  <p class="text-center"><%= f.submit "作成する", :name => 'post', class: "btn btn-info btn-rounded"%></p>
                  <p class="text-center"><%= f.submit "下書きに保存", :name => 'draft', class: "btn btn-info btn-rounded"%></p>

              <%end%>
            </div>
              
            </div>
          </div>
      </div>

     </div>
  </div>
</div>
<!--jpostal読み込み-->
<%= render "/jobs/jpostal" %>

<script>
  $(function() {

  // 送信ボタンクリックイベント
  $('#btn').on('click', () => {

    // Form内のinput要素を全てチェック
    $('#submitForm input').each((_, e) => {
      // メッセージ表示用の要素を予め取得
      let resultFeild = $(e).next('p');

      // バリデーション実施
      if (!e.checkValidity()) {
        // エラー用の見た目に変える
        $(e).addClass('is-invalid');
        resultFeild.addClass('invalid-feedback');
        resultFeild.text(e.validationMessage);
      } else {
        // 元の見た目に戻す
        $(e).removeClass('is-invalid');
        resultFeild.removeClass('invalid-feedback');
        resultFeild.text('');
      }
    });
  });

})
</script>