<%= render "/offers/offer_modal" %><!--オファー作成モーダル-->
<%= render "/offers/offer_exist_modal" %><!--オファーが既に存在する場合のモーダル-->

<div class="container">
  <div class="row">

    <%= render "layouts/sidebar", current: false%><!--サイドバー-->

     <div class="col-lg-9 offset-lg-1 col-md-12">
      <div class="card job_card my-5">
        <%= image_tag @job.get_image(2000,1200), class: "card-img-top img-thumbnail" %>
        <div class="card_body my-auto">
           <h2 class="text-center mt-3"><strong><%= @job.tytle %></strong></h2>

            <div class="hourly_wage_and_job_type text-center">
              <h4>時給：<%= @job.hourly_wage %> 円 / <%= @job.job_type %></h4>
            </div>

            <div class="row px-5 py-3 user_and_introduction">
              <div class="col-lg-2 col-3 text-center">
                <%= link_to user_path(@job.user) do %>
                  <%= image_tag @job.user.get_image(100,100), class: 'rounded-circle img-thumbnail mt-2 i-fluid'%>
                  <p class="text-truncate "><%= @job.user.name %></p>
                <%end%>
              </div>
              <div class="col-lg-10 col-9 border rounded-8 bg-light py-3">
                <small><%= @job.introduction %></small>
              </div>
            </div>

            <div class="row p-3 p-lg-5 map_and_addresses_and_actions">

              <div class="col-lg-6 col-md-12 order-lg-2">
                <%= render "/jobs/map", job: @job%><!--マップ呼び出し-->
              </div>

              <div class="col-lg-6 col-md-12 my-auto order-lg-1 mt-3 mt-lg-5">
                <h6 class="fw-bold text-center">所在地： <%= @job.prefecture_code %> <%= @job.other_address %></h6>
                <h6 class="fw-bold text-center">最寄り駅： <%=@job.near_station_line%>線 / <%=@job.near_station%>駅</h6>

                <div class="mt-3 mt-lg-5 mb-3 d-flex justify-content-around">
                  <!--自分の仕事の場合はオファーを非表示して編集・共有ボタンを表示-->
                  <% if @job.user == current_user %>
                      <!--編集ボタン-->
                      <%= link_to edit_job_path,class: "btn btn-info btn-rounded",data: {"turbolinks" => false} do%>
                        <i class ="fa fa-edit fa-2x"></i>
                      <% end %>
                      <!--teitterで共有ボタン-->
                      <%= link_to "https://twitter.com/share?url=#{request.url}/&text=【Part-ner】で#{@job.tytle}のバイト仲間募集中です！&hashtags=Part_ner", class: "btn btn-info btn-rounded",title: 'Twitter', target: '_blank' do%>
                        <i class ="fab fa-twitter fa-2x"></i>
                      <% end %>
                  <% else %>
                    <!--オファーモーダルを開く。既にオファー済みの時はアナウンスされる。-->
                    <% if @job.offers.where(user_id: current_user.id).exists? or @job.chatrooms.where(user_id: current_user.id).exists? %>
                     <button class= "btn btn-secondary btn-rounded" data-toggle="modal" data-target="#offerExistModal">
                       <i class="fa fa-paper-plane fa-2x"></i>
                     </button>
                    <% else %>
                     <button class= "btn btn-info btn-rounded" data-toggle="modal" data-target="#offermodal">
                       <i class="fa fa-paper-plane fa-2x"></i>
                     </button>
                    <% end %>
                  <% end %>

                  <!--共通で表示。非同期-->
                  <div class="bookmark">
                    <%= render "/bookmarks/bookmark",job: @job %>
                  </div>
                </div>
              </div>

            </div>

        </div>

      </div>
    </div>
  </div>
</div>