<div class="container">
  <div class="row">
    <%= render "layouts/sidebar",current: @user == current_user %><!--サイドバー@userが自分の時のみサイドバーのプロフ部をアクティブに-->

    <!--プロフィールカード-->
    <div class="col-8 offset-1">
      <div class="card my-5 pt-5">
        <%= image_tag @user.get_image(500,500), class: 'rounded-circle mx-auto img-thumbnail img-fluid',size: "170x170"%>
        <h2 class="mx-auto"><%= @user.name %></h2>
        <h5 class="mx-auto"><%= @user.age %>歳 / <%= @user.sex %> / <%= @user.prefecture %></h5>
        <div class="row">
          <div class="col-8 offset-2 my-4 text-center">
            <h5><%= @user.introduction %></h5>
            <!--編集ボタンはゲストユーザーには非表示-->
            <% if @user.name != "guestuser" && @user == current_user %>
               <p class="mt-5"><%= link_to "編集する", edit_user_path(@user), class: "btn btn-info border btn-rounded"%></p>
            <% end %>
          </div>
        </div>
      </div>

      <!--ユーザーの投稿一覧-->
      <h3 class="text-center"><strong><%= @user.name %>がパートナーを探しているバイト</strong></h3>
      <%= render "/jobs/index", jobs: @user.jobs.where(released: true).page(params[:page]).per(5) %>

    </div>
  </div>
</div>