 <div class="card index_card my-5 mx-3">
  <div class="card-header bg-info d-flex">
    <div class="col-5">
      <%= image_tag "Part-ner.png", class: "img-fluid"%>
    </div>
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h1 class="col-12">”Part-ner”</h1>
      <h4 class="col-12">ってなに？</h4>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <h5 class="card-text">「アルバイト」を意味する<strong>「part time job」</strong>と、「相方、相棒」を意味する<strong>「partner」</strong>を組み合わせた造語です。</br>
            バイトは「誰と」で選びたい。という製作者の想いから生まれた、アルバイト探しを通じて人と人とをつなげるマッチングサービスです。</h5>

    <button class= "btn btn-primary btn-rounded mt-2" data-toggle="modal" data-target="#OKmodal">
      もっと見る
    </button>
  </div>
</div>

<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>

<div class="row my-5 mx-3 justify-content-end">
  <div class="card col-7 align-items-center bg-info">
    <h2 class="text-white p-2">どんな時に使うの？</h2>
  </div>
</div>


<div class="row my-5 mx-3">
  <div class="col-2">
    <%= image_tag "Part-ner.png", class: "img-fluid"%>
  </div>

  <div class="card col-7 align-items-center justify-content-center">
    <h2 class="p-2">"Part-ner"の使いどきはこんな感じ。</h2>
  </div>
</div>



<div class="card index_card my-5 mx-3">
  <div class="card-header bg-primary d-flex">
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h1 class="col-12">CASE.1</h1>
      <h4 class="col-12">「誰と」で選びたい？</h4>
    </div>
    <div class="col-5">
      <%= image_tag "undraw_Searching_re_3ra9.png", class: "img-fluid"%>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">「アットホームな雰囲気」って言われても．．．。</h4>
    <p class="card-text">なんだかんだ、働いてみるまでイゴコチの良さはわからない。</br>
       素敵な”Part-ner”を見つけましょう。もうバイト選びで失敗させません。</p>
    <button class= "btn btn-primary btn-rounded" data-toggle="modal" data-target="#OKmodal">
      使い方を見る
    </button>
  </div>
</div>


<div class="card index_card my-5 mx-3">
  <div class="card-header bg-info d-flex">
    <div class="col-5">
      <%= image_tag "IMG_1359.PNG", class: "img-fluid"%>
    </div>
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h1 class="col-12">CASE.2</h1>
      <h4 class="col-12">「誰かを」紹介したい？</h4>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">今日も一人でバイト．．．。</h4>
    <p class="card-text">仕事に不満はないけれど、毎日ひとりでちょっとユウウツ。</br>
     そんなとき私たちは、あなたの”Part-ner”探しをお手伝いします。</p>
    <button class= "btn btn-primary btn-rounded text-end" data-toggle="modal" data-target="#OKmodal">
      使い方を見る
    </button>
  </div>
</div>



<div class="card index_card my-5 mx-3">
  <div class="card-header bg-primary d-flex">
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h1 class="col-12">CASE.3</h1>
      <h4 class="col-12">「誰かと」応募したい？</h4>
    </div>
    <div class="col-5">
      <%= image_tag "undraw_Mobile_app_re_catg.png", class: "img-fluid"%>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">このバイトなんだか良さそう！でも．．．。</h4>
    <p class="card-text">新しいバイトに１人で飛び込むのって、ユウキがいるもの。</br>
     これから一緒に応募する”Part-ner”を見つけてみませんか？</p>
    <button class= "btn btn-primary btn-rounded" data-toggle="modal" data-target="#OKmodal">
      使い方を見る
    </button>
  </div>
</div>

<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>

<div class="row my-5 mx-3 justify-content-end">
  <div class="card col-7 align-items-center bg-info">
    <h2 class="text-white p-2">どうやって使うの？</h2>
  </div>
</div>


<div class="row my-5 mx-3">
  <div class="col-2">
    <%= image_tag "Part-ner.png", class: "img-fluid"%>
  </div>

  <div class="card col-7 align-items-center justify-content-center">
    <h2 class="p-2">"Part-ner"はこんな使い方ができるよ。まずバイト探しは・・・</h2>
  </div>
</div>



<div class="card index_card my-5 mx-3">
  <div class="card-header bg-info d-flex">
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h2 class="col-12">１．バイトを探す</h2>

    </div>
    <div class="col-5">
      <%= image_tag "searchshot.png", class: "img-fluid"%>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">まずは検索してみよう。</h4>
    <p class="card-text">地域と職種とキーワードで絞り込むことが出来ます。もちろん、希望の条件に合うバイトが見つかるとは限りません。</br>
       でも、条件だけで探していた昨日までのバイト探しとは今日でお別れ。”Part-ner”候補者のページものぞきに行ってみましょう！</p>
  </div>
</div>


<div class="card index_card my-5 mx-3">
  <div class="card-header bg-primary d-flex">
    <div class="col-5">
      <%= image_tag "offershot.png", class: "img-fluid"%>
    </div>
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h2 class="col-12">２．オファーを送る</h2>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">この人、仲良くなれるかも．．．？</h4>
    <p class="card-text">そう思ったら、恐れずにオファーを送ってみましょう。</br>
      きちんと言葉にすれば、きっとあなたの想いも届くはず。相手がOKしてくれたら、１対１のチャットが始まります。</p>

  </div>
</div>



<div class="card index_card my-5 mx-3">
  <div class="card-header bg-info d-flex">
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h2 class="col-12">３．チャットでお話</h2>
    </div>
    <div class="col-5">
      <%= image_tag "chatshot.png", class: "img-fluid"%>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">”Part-ner”を見つけよう。</h4>
    <p class="card-text">チャットを通じて、２人の相性を確かめましょう。</br>
     これから一緒に働いていく”Part-ner”です。素敵な出会いがありますように！。</p>
  </div>
</div>


<br>
</br>
<br>
</br>



<div class="row my-5 mx-3">
  <div class="col-2">
    <%= image_tag "Part-ner.png", class: "img-fluid"%>
  </div>

  <div class="card col-7 align-items-center justify-content-center">
    <h2 class="p-2">バイト仲間を募集する時は・・・</h2>
  </div>
</div>


<div class="card index_card my-5 mx-3">
  <div class="card-header bg-primary d-flex">
    <div class="col-5">
      <%= image_tag "jobnewshot.png", class: "img-fluid"%>
    </div>
    <div class="col-7 text-center text-light row justify-content-center align-content-center">
      <h2 class="col-12">１．募集をつくる</h2>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">そう思ったら、恐れずにオファーを送ってみましょう。</br>
      きちんと言葉にすれば、きっとあなたの想いも届くはず。相手がOKしてくれたら、１対１のチャットが始まります。</p>

  </div>
</div>





<% if user_signed_in?%>
 <%= link_to 'マイページへ', user_path(current_user), class: "btn btn-primary btn-rounded"%>
<% else %>
 <%= link_to "登録済みの方はこちら", new_user_session_path, class: "btn btn-primary btn-rounded mb-3" %>
 <%= link_to "新規登録はこちら",  new_user_registration_path, class: "btn btn-primary btn-rounded" %>
<% end %>
