
<% offers.each do |offer| %>
  <%= render "/offers/OK_modal", offer: offer%><!--オファー承認してDM作成モーダル-->
  <%= render "/offers/NG_modal", offer: offer%><!--オファー拒否して削除モーダル-->
  <div class="card index_card mb-4 py-3 text-body bg-light">

    <div class="row tytle">
      <h5 class="text-center"><strong><%= offer.job.tytle %></strong></h5>
    </div>
    <div class="row content">

      <div class="col-2 m-auto d-flex justify-content-end">
        <%= image_tag offer.user.get_image(100,100)%>
      </div>

      <div class="col-6">
        <h4><strong><%= offer.user.name %>からのオファー</strong></h4>
        <p class=" border rounded-8 bg-light p-3"><%= offer.content %></p>
        <small><%= offer.created_at %></small>
      </div>

      <div class="col-4 d-flex align-items-center justify-content-evenly">
        <button class= "btn btn-info btn-rounded" data-toggle="modal" data-target="#OKmodal">
          <i class="fa fa-thumbs-up fa-2x"></i>
        </button>
        <button class= "btn btn-danger btn-rounded" data-toggle="modal" data-target="#NGmodal">
          <i class="fa fa-thumbs-down fa-2x"></i>
        </button>
      </div>

    </div>

  </div>
<% end %>