<div class="modal fade" id="offermodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="pt-4">
        <h5 class="text-center"><strong>パートナーに立候補しますか？</strong></h5>
      </div>

      <%= form_with model: Offer.new ,url: offers_path, method: :post do |f| %> <!--以下はフォーム-->
        <div class="modal-body">
          <%= f.label :content, "コメント"%>
        　<%= f.text_area :content, class: "form-control" %>
        　<%= f.hidden_field :job_id, :value =>@job.id %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">閉じる</button>
          <%= f.submit "オファーを送る", class: "btn btn-info btn-rounded"%>
        </div>
      <%end%>

    </div>
  </div>
</div>