<!--もらったオファー-->
  <div class="tab-pane fade show active" id="received_offer_index">
    <% receive_offers.each do |offer| %>
      <%= render "/offers/OKorNG_modal", offer: offer%><!--オファー承認してDM作成or拒否モーダル-->
      <div class="container card index_card my-3 py-3 text-body">
         <div class="row justify-content-center mx-1">

          <!--オファーしてきた相手の画像を表示-->
          <div class="col-3 col-md-2 px-0 m-auto d-flex justify-content-end">
            <%= link_to user_path(offer.user) do%>
              <%= image_tag offer.user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'%>
            <% end %>
          </div>
          <!--オファーしてきた相手の画像を表示-->

          <!--オファーしてきた相手の情報と内容表示-->
          <div class="col-9 col-md-7">
            <h4 class="text-center"><%= offer.job.tytle %></h4>
            <h3><%= offer.user.name %>からのオファー</h3>
            <p class=" border rounded-8 bg-light p-3 mb-0"><%= offer.content %></p>
            <small><%= offer.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
          <!--オファーしてきた相手の情報と内容表示-->

          <!--オファー操作モーダルを開けるボタン 削除or承認-->
          <div class="col-12 col-md-3 d-flex align-items-center justify-content-around">
            <button class= "btn btn-primary btn-rounded" data-toggle="modal" data-target="#OKmodal">
              <i class="fas fa-check fa-2x"></i>
            </button>
            <button class= "btn btn-danger btn-rounded" data-toggle="modal" data-target="#receiveNGmodal">
              <i class="fas fa-times fa-2x"></i>
            </button>
          </div>
          <!--オファー操作モーダルを開けるボタン 削除or承認-->

        </div>
      </div>
    <% end %>
  </div>
  <!--もらったオファー-->