<!--送ったオファー-->
  <div class="tab-pane fade" id="send_offer_index">
      <% @send_offers.each do |offer| %>
        <%= render "/offers/NG_modal_send", offer: offer%><!--オファー削除モーダル-->
        <div class="container card index_card my-3 py-3 text-body bg-light">
          <div class="row justify-content-center">

          <!--画像カラム-->
           <div class="col-3 col-md-2 px-0 m-auto d-flex justify-content-end">
              <%= link_to user_path(offer.job.user) do%>
                <%= image_tag offer.job.user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'%>
              <% end %>
           </div>
          <!--画像カラム-->

          <!--タイトルと内容-->
           <div class="col-9 col-md-8">
              <h4 class="text-center"><strong><%= offer.job.tytle %></strong></h4>
              <h3 class="text-nowrap"><strong><%= offer.job.user.name %>へのオファー</strong></h3>
              <p class=" border rounded-8 bg-light p-3"><%= offer.content %></p>
           </div>
          <!--タイトルと内容-->


          <!--削除ボタン-->
           <div class="col-12 col-md-2 d-flex align-items-center justify-content-center">
              <button class= "btn btn-danger btn-rounded" data-toggle="modal" data-target="#sendNGmodal">
                <i class="far fa-trash-alt fa-2x"></i>
              </button>
           </div>
          <!--削除ボタン-->

          </div>
        </div>
      <% end %>
  </div>
  <!--送ったオファー-->