<header class="shadow-sm sticky-top bg-info">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand p-3" href="/">Part-ner</a>
      
      <!--メニュー-->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item ms-auto">
            <%= link_to "バイトを探す",jobs_path, class: 'nav-link text-dark' %> 
          </li>
          
          
          <div class="dropdown nav-item ms-auto">
            <button
              class="btn btn-secondary rounded-pill dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              パートナー募集
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><%= link_to "新規募集",new_job_path, class: 'dropdown-item',data: {"turbolinks" => false} %> <!--turbolinksを切らないとjpostalが発火しないため--></li>
              <li><%= link_to "下書き一覧",job_draft_index_path, class: 'dropdown-item'%></li>
            </ul>
          </div>
          
          
          <li class="nav-item ms-auto">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
        <% else %>
          <li class="nav-item ms-auto">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item ms-auto">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
          </li>
        <% end %>
        </ul>
      </div>
      
      <!--ハンバーガーメニュー-->
      <button class="navbar-toggler ms-auto" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      
    </div>
  </nav>
</header>