<div class="sidebar col-lg-3 d-lg-block d-none ">
  <div style="position: sticky; top: 145px;">
    <!--プロフィール画像-->
    <div class="card rounded-9 my-5">
        <%= link_to user_path(current_user),class: "mx-auto text-center" do%>
            <%= image_tag current_user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'%>
            <h5><%= current_user.name %></h5>
        <% end %>
    </div>

    <!--リンクリスト-->
    <div class="list-group list-group-light mt-3">
        <h6><strong><%= link_to "プロフィール",user_path(current_user), class: "list-group-item list-group-item-action px-3 mb-3 rounded-pill #{current ? 'active' : ''}" %> </strong></h6>
        <h6><strong>
            <%= link_to chatrooms_path, class: "list-group-item list-group-item-action px-3 mb-3 rounded-pill #{active_if('chatrooms')}" do%>
                メッセージ
                <!--通知バッジの処理-->
                <% if Message.unread_by(current_user).exists? %>
                    <span class="badge badge-danger rounded-pill">
                       <%= Message.unread_by(current_user).count %>
                    </span>
                <% end %>
            <% end %>
        </strong></h6>

        <h6><strong>
            <%= link_to offers_index_path, class: "list-group-item list-group-item-action px-3 mb-3 rounded-pill #{active_if('offers')}" do%>
            オファー
                <!--通知バッジの処理-->
                <% if Offer.where(job_id: current_user.jobs.ids).exists? %>
                    <span class="badge badge-danger rounded-pill">
                        <%= Offer.where(job_id: current_user.jobs.ids).count %>
                    </span>
                <% end %>
            <% end %>
        </strong></h6>

        <h6><strong>
            <%= link_to "ブックマーク", bookmark_index_path,class: "list-group-item list-group-item-action px-3 mb-3 rounded-pill #{active_if('bookmarks')}" %>
        </strong></h6>
    </div>

   </div>
</div>


    <div class=" bottomber list-group list-group-light flex-row justify-content-evenly align-items-end bg-secondary d-md-block d-lg-none order-md-2 fixed-bottom p-0">
        <h6><%= link_to user_path(current_user), class: "list-group-item list-group-item-action px-3 m-auto rounded-9 #{current ? 'active' : ''}"  do%>
         <i class="far fa-user fa-lg"></i>
        <% end %></h6>
        <h6><strong>
            <%= link_to chatrooms_path, class: "list-group-item list-group-item-action px-3 m-auto rounded-9 #{active_if('chatrooms')}" do%>
                <i class="far fa-comment-dots fa-lg"></i>
                <!--通知バッジの処理-->
                <% if Message.unread_by(current_user).exists? %>
                    <span class="badge badge-danger rounded-pill">
                       <%= Message.unread_by(current_user).count %>
                    </span>
                <% end %>
            <% end %>
        </strong></h6>

        <h6><strong>
            <%= link_to offers_index_path, class: "list-group-item list-group-item-action px-3 m-auto rounded-9 #{active_if('offers')}" do%>
                <i class="far fa-handshake fa-lg"></i>
                <!--通知バッジの処理-->
                <% if Offer.where(job_id: current_user.jobs.ids).exists? %>
                    <span class="badge badge-danger rounded-pill">
                        <%= Offer.where(job_id: current_user.jobs.ids).count %>
                    </span>
                <% end %>
            <% end %>
        </strong></h6>

        <h6><strong>
            <%= link_to bookmark_index_path,class: "list-group-item list-group-item-action px-3 m-auto rounded-9 #{active_if('bookmarks')}" do%>
                <i class="far fa-bookmark fa-lg"></i>
            <% end %>
        </strong></h6>
    </div>


<script>
//ボトムバー表示した際にコンテンツが隠れないようにするスクリプト
$(function(){
  let height = $(".bottomber").height();
  $("#contents").css("padding-bottom", `${height+ 15}px`);
});
</script>