<!--サイドバー-->
<div class="sidebar col-lg-3 d-lg-block d-none">
  <div style="position: sticky; top: 145px;">
    <!--プロフィール画像-->
    <div class="card rounded-9 my-5" id="user_img" data-turbolinks-permanent>
        <%= link_to user_path(current_user),class: "mx-auto text-center text-body" do%>
            <%= image_tag current_user.get_image(70,70), class: 'rounded-circle my-2 img-thumbnail img-fluid'%>
            <h5><strong><%= current_user.name.truncate(9) %></strong></h5>
        <% end %>
    </div>

    <!--リンクリスト-->
    <div class="list-group list-group-light mt-3">
        <h6><strong><%= link_to user_path(current_user), class: "list-group-item list-group-item-action text-truncate px-4 mb-3 rounded-pill user_tab" do%>
        <i class="far fa-user fa-lg"></i> プロフィール<% end %></strong></h6>
        <h6><strong>
            <%= link_to chatrooms_path, class: "list-group-item list-group-item-action text-truncate  px-4 mb-3 rounded-pill #{active_if('chatrooms')}" do%>
                <i class="far fa-comment-dots fa-lg"></i>
                メッセージ
                <!--通知バッジの処理-->
                <% if Message.unread_by(current_user).exists? %>
                    <span class="badge badge-danger rounded-pill">
                       <%= Message.unread_by(current_user).count %>
                    </span>
                <% end %>
            <% end %>
        </strong></h6>

        <h6><strong>
            <%= link_to offers_index_path, class: "list-group-item list-group-item-action text-truncate  px-4 mb-3 rounded-pill #{active_if('offers')}" do%>
                <i class="far fa-dot-circle fa-lg"></i>
                 オファー
                <!--通知バッジの処理-->
                <% if Offer.where(job_id: current_user.jobs.ids).exists? %>
                    <span class="badge badge-danger rounded-pill">
                        <%= Offer.where(job_id: current_user.jobs.ids).count %>
                    </span>
                <% end %>
            <% end %>
        </strong></h6>

        <h6><strong>
            <%= link_to bookmark_index_path,class: "list-group-item list-group-item-action text-truncate  px-4 mb-3 rounded-pill #{active_if('bookmarks')}" do%>
            <i class="far fa-bookmark fa-lg"></i> ブックマーク
            <% end %>
        </strong></h6>
    </div>

   </div>
</div>
<!--サイドバー-->


<!--ボトムバー-->
<div class=" bottomber list-group list-group-light flex-row justify-content-evenly align-items-end bg-secondary d-lg-none order-md-2 fixed-bottom p-0">
    <h6><%= link_to user_path(current_user), class: "list-group-item list-group-item-action px-3 m-auto rounded-9 user_tab" do%>
     <i class="far fa-user fa-lg"></i>
    <% end %></h6>
    <h6><strong>
        <%= link_to chatrooms_path, class: "list-group-item list-group-item-action position-relative px-3 m-auto rounded-9 #{active_if('chatrooms')}" do%>
            <i class="far fa-comment-dots fa-lg"></i>
            <!--通知バッジの処理-->
            <% if Message.unread_by(current_user).exists? %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
                   <%= Message.unread_by(current_user).count %>
                </span>
            <% end %>
        <% end %>
    </strong></h6>

    <h6><strong>
        <%= link_to offers_index_path, class: "list-group-item list-group-item-action position-relative px-3 m-auto rounded-9 #{active_if('offers')}" do%>
            <i class="far fa-dot-circle fa-lg"></i>
            <!--通知バッジの処理-->
            <% if Offer.where(job_id: current_user.jobs.ids).exists? %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
                    <%= Offer.where(job_id: current_user.jobs.ids).count %>
                </span>
            <% end %>
        <% end %>
    </strong></h6>

    <h6><strong>
        <%= link_to bookmark_index_path,class: "list-group-item list-group-item-action px-3 m-auto rounded-9 #{active_if('bookmarks')}" do%>
            <i class="far fa-bookmark fa-lg"></i>
        <% end %>
    </strong></h6>
</div>
<!--ボトムバー-->

<!--非表示。スクリプトにデータを渡す用-->
<div class="d-none" id="current_info" data-current_user_id="<%= current_user.id %>"></div>
<!--非表示。スクリプトにデータを渡す用-->

<script>
//ボトムバー表示した際にコンテンツが隠れないようにするスクリプト
$(function(){
  let height = $(".bottomber").height();
  $("#contents").css("padding-bottom", `${height+ 15}px`);
});

//プロフィールタブをアクティブにするためのスクリプト
$(document).on('turbolinks:load', () => {
    const user_id = $('#user_id').data('user_id'); //"users/show"から渡される、表示中のユーザーid
    const current_user_id = $('#current_info').data('current_user_id');//サイドバーの非表示のところから渡されるcurrent_user_id

    if (user_id == current_user_id){
        $('.user_tab').addClass('active'); //二つが一致したときにactiveクラスを追加
    };
});
</script>