<!DOCTYPE html>
<html>
  <head>
    <title>Part-ner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script><!--無限スクロール-->
  </head>

  <body>
    <%= render "layouts/header"%>
    <div class="container">
      <div class="row justify-content-evenly">

        <% if user_signed_in?%>
          <%= render "layouts/sidebar", current: false %>
        <% end %>

        <div id="contents" class="col-lg-8 col-md-12">
           <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
